<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--    카메라 권한 테스트-->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_test"
        android:label="필굿"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PillGood"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- Firebase 메시징 서비스 설정 -->
        <service
            android:name=".data.remote.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:label=""/>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label=""
            android:exported="true"></activity>
        <activity android:name=".ui.activity.SettingActivity"
            android:label=""/>
        <activity android:name=".ui.activity.CustomActionBarActivity"
            android:label=""/>
        <activity android:name=".ui.activity.NotificationActivity"
            android:label=""
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.pill_good.NOTIFICATION_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GroupActivity"
            android:theme="@style/GroupMemberTheme"
            android:label=""/>
        <activity android:name=".ui.activity.SearchPillActivity"
            android:label=""/>
        <activity android:name=".ui.activity.SearchPillResultActivity"
            android:label=""/>
        <activity
            android:name=".ui.activity.GroupMemberEditActivity"
            android:theme="@style/GroupMemberEditTheme"
            android:label=""></activity>
        <activity
            android:name=".ui.activity.GroupMemberAddActivity"
            android:theme="@style/GroupMemberEditTheme"
            android:label=""></activity>
        <activity android:name=".ui.activity.PillInformationActivity"
            android:label=""></activity>
        <activity android:name=".ui.activity.PrescriptionActivity"></activity>
        <activity android:name=".ui.activity.CameraActivity"
            android:label=""></activity>
        <activity android:name=".ui.activity.CameraResultActivity"
            android:label=""></activity>
        <activity android:name=".ui.activity.EditOCRActivity"
            android:label=""></activity>
    </application>
</manifest>